.modtype_resource .activityiconcontainer .activityicon {
    filter: contrast(200%) grayscale(100%) brightness(150%);
    opacity: 0.8;
}

.activity-item .activity-badges .badge {
    padding: 0.5rem;
}