.coursecompletion-act-list {
    list-style: none;
    padding-left: $spacer;
    counter-reset: circle-counter;

    li {
        counter-increment: circle-counter;
        margin-bottom: $spacer*.25;
        margin-left: $spacer*.25;

        &:before {
            content: counter(circle-counter);
            background-color: white;
            width: $font-size-base*1.5;
            height: $font-size-base*1.5;
            border-radius: 50%;
            border: 2px solid;
            display: inline-block;
            font-size: $font-size-base*.75;
            line-height: $font-size-base*1.5;
            color: $primary;
            text-align: center;
            margin-right: $spacer*.5;
            position: relative;
        }

        &.status-completed:before {
            content: $fa-var-check;
            font-family: "FontAwesome";
            background-color: $primary;
            color: white;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#page-my-index {
    .page-header-headings h1 {
        margin-bottom: 2rem;
    }

    h5.card-title {
        font-size: 1.75em;
    }
}

.page-header-headings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        margin-bottom: 0;
    }
}

#page-navbar .breadcrumb {
    padding: 0.5rem 0;
}