#page-footer {
    .addresses {
        font-size: xx-small;
        li {
            margin-bottom: 0.2rem;
        }
    }
}

#page-footer {

    a,
    a:hover,
    a:active,
    a:visited {
        color: $gray-600;
    }

    a:focus {
        color: $gray-700;
    }

    .footer-dark {
        a,
        a:hover,
        a:active,
        a:visited {
            color: $gray-200;
        }

        a:focus {
            color: $gray-300;
        }

    }

    .logos-header {
        :first-child {
            width: 100px;
            img {
                max-height: 70px;
            }
        }
    }

    img.envf-logo {
        max-height: 70px;
    }

    .infos-footer {
        border-top: 1px solid $gray-300;
        padding-top: 2em;
    }
    .custom-menu-footer {
        font-weight: bold;
        & > ul > li {
            margin-bottom: 0.5rem;
        }
    }
    .custom-menu-footer > ul > li > ul {
        margin-left: 0.5rem;
        a {
            display: block;
            font-weight: normal;
            padding: 0.2rem;
        }
    }
    .mcms-square {
        width: 660px;
        right: -170px;
        top: -60px;
    }
    .school-org-list {
        .school-item img {
            width: 100px;
        }
    }
}

