// Navbar
.header-image {
    max-height: $navbar-height;
}

.navbar-brand {
    font-size: 1rem; // Normal font.
    padding-top: initial;
    padding-bottom: initial;
}

.site-name,
.custom-menu {
    color: $gray-600;
    min-width: 30%;
}

.navbar-light .navbar-nav .nav-link {
    border-bottom: 2px solid transparent;
    &:focus,
    &:hover {
        border-bottom: 2px solid $primary;
    }

    color: $gray-900;
}

#nav-drawer {
    background-color: white;

    .list-group li {
        margin-bottom: 0.5rem;
    }

    .list-group-item {
        box-shadow: 0 2px 0.5rem 0 rgba(0, 0, 0, 0.15);
        border: none;
    }
}

nav.navbar.fixed-top {
    border-bottom: 0;
    align-items: center;

    .nav-link {
        height: auto;
    }

    .logo img {
        max-height: 60px;
    }

    .rf-logo {
        height: 90px;
        padding: 5px 5px 0px 0px;
        vertical-align: top;
    }

    // .moremenu {
    //     height: auto;
    // }

    @include media-breakpoint-down(sm) {
        .rf-logo {
            padding-top: 0px;
        }
    }
}
[data-region="drawer"] {
    padding-top: initial;
    @include media-breakpoint-down(md) {
        z-index: $zindex-modal-backdrop; // The Z Index here is higher as it will clash with menu if not.
    }
}

.custom-menu-small {
    @extend .dropdown-menu;
    z-index: $zindex-dropdown;
    width: 100%;
    left: 0px;
    border: initial;
}

.editingmode {
    position: fixed;
    left: 25%;
    transform: translate(-50%, 0);
    background-color: $light;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1rem;
    z-index: 1031;
}
