
.activity-navigation #prev-activity-link,
.activity-navigation #next-activity-link {
    white-space: normal;
}

.secondary-navigation .navigation {
    padding: 0;
    margin: 0;
    .nav-tabs {
        margin: 0;
    }
}

@include media-breakpoint-up(sm) {
    .secondary-navigation {
        padding: 0 15px 15px;
    }
    #page-header {
        padding: 0 15px;
    }
}

#goto-top-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s ease 0s, visibility .1s ease .8s;
    display: block;
    position: fixed;
    bottom: 50px;
    right: 0;
    a {
        position: absolute;
        right: 0;
        transform: translateY(-100%);
    }
}

@include media-breakpoint-down(sm) {
    #goto-top-link {
        bottom: 0;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}