.pagelayout-frontpage {
    #region-main {
        border: initial;
        padding: initial;
    }
    #page.drawers {
        padding-left: 0;
        padding-right: 0;
        .main-inner {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
        }
    }
    #block-region-content {
        overflow: hidden;
    }
}

#page {
    margin-top: $navbar-height;
}

#page-wrapper #page-footer {
    flex-shrink: 0;
}

@include media-breakpoint-up(md) {
    #page.drawers {
        .main-inner {
            max-width: $course-content-maxwidth;
        }
        .footer-popover {
            max-width: $course-content-maxwidth;
            width: 100%;
            margin: 0 auto;
            @include border-radius();
        }
    }
}

// Block decoration

.pagelayout-mcmslayout {
    .block,
    #region-main {
        border: none;
        background: transparent !important;
    }
    #page-header {
        padding-top: 80px;
        overflow: hidden;
    }
}


// MCMS Pages
.mcms-header-container {
    margin-right: auto;
    margin-left: auto;
    min-height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    h3 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        align-self: center;
        font-size: 3.5em;
        max-width: 75%;
    }

    &.page-style-default {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    }

    @include media-breakpoint-down(md) {
        h3 {
            max-width: 100%;
            font-size: xx-large;
        }
        &.page-style-default {
            box-shadow: unset;
        }
        justify-content: center;
    }

    &.page-style-image-side {
        h3 {
            max-width: 100%;
        }
    }

    &::before {
        @extend .square-single-violet;
        @extend .mcms-square;
        @extend .square-top-left;
    }

    &::after {
        @extend .square-dual-red;
        @extend .mcms-square;
        @extend .mcms-square-big;
        @extend .square-top-right;
    }
}


// A bit of a hack here: the definition in the core block does
// not fit our needs, so we reset it.
.pagelayout-mcmslayout, #page-site-index {
    .block, #region-main {
        border: none;
        background: transparent !important;
    }

    .block_mcms .card-body.p-3 {
        padding: unset !important;
    }

    .block_mcms .card-text.mt-3 {
        margin-top: auto !important;
    }

    .block_mcms.mb-3 {
        margin-bottom: auto !important;
    }
}

.pagelayout-login {
    .signup-header {
        font-family: $font-family-sans-serif;
    }
    .psup-additional-description {
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
    .login-student-icon .icon {
        width: 81px;
        height: auto;
    }
    #page {
        background: none;
        background-image: none;
    }
    .card {
        box-shadow: 2px 12px 10px -2px rgba(0, 0, 0, 0.1);
        border: 0;
    }
}

body.hide-editswitch .editmode-switch-form {
    display: none !important;
}

#page-mod-choice-view.format-envfpsup {
    form.horizontal {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3em;
        padding-bottom: 3em;
        background-color: rgba($primary, 0.1);

        .choices {
            margin: auto;
        }

        .option label {
            font-size: larger;
            font-weight: bolder;
        }

        input[type='submit'] {
            margin: auto;
        }
    }
    #yourselection {
        background-color: rgba($primary, 0.1);
        padding-top: 3em;
        padding-bottom: 3em;
        font-size: larger;
        font-weight: bolder;
    }
}

.activity-navigation-last {
    padding-top: 1.5rem;
    margin-top: 7.5rem;
    margin-bottom: -4.5rem;
}

.legalinfo {
    .row > *::after {
        content: "|";
        margin: 0 0.5rem;
        font-size: 0.8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}