@import "decorations.scss";
@import "blocks.scss";
@import "navbar.scss";
@import "pages.scss";
@import "atto.scss";
@import "footer.scss";
@import "h5p.scss";
@import "questionnaire.scss";
@import "navigation.scss";
@import "dashboard.scss";
@import "userprofileform.scss";
@import "survey.scss";
// General layout settings

.card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    border: none;

    &.border-0 {
        box-shadow: unset;
    }
}

// Fix the issue with block menus partially hidden

#region-main {
    overflow-x: visible;
}

.breadcrumb {
    background-color: transparent;
}

*:focus {
    outline-color: lightgray;
    outline-style: dashed;
    outline-width: thin;
}
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus a,
.dropdown-item:focus-within a {
    background-color: $gray-500;
}
@media (max-width: 767.98px) {
    .nav-tabs .nav-link.active:not(:disabled):not(.disabled):active,
    .nav-tabs .nav-link.active:not(:disabled):not(.disabled).active,
    .show > .nav-tabs .nav-link.active.dropdown-toggle,
    .nav-pills .nav-link.active:not(:disabled):not(.disabled):active,
    .nav-pills .nav-link.active:not(:disabled):not(.disabled).active,
    .show > .nav-pills .nav-link.active.dropdown-toggle {
        background-color: $gray-100;
    }
}

// Hide the username search form.
#page-login-forgot_password #id_searchbyusername {
    display: none;
}