// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #666 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #002182 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e0001e !default;
$orange:  #fd7e14 !default;
$yellow:  #f5e625 !default;
$green:   #22b24c !default;
$teal:    #20c997 !default;
$cyan:    #369 !default;

$light-blue: #4a49b3;
$light-red: #ff5448;
$dark-blue: #000054;
$dark-red: #a50000;

$primary:       #0e847b !default;
$secondary:     #666 !default;
$success:       #18d9c9 !default;
$info:          #508564 !default;
$warning:       #856050 !default;
$danger:        #855054 !default;
$light:         #d9f8f3 !default;
$dark:          #0e3835 !default;

$enva: #913493 !default;
$oniris: #3697d9 !default;
$vetagrosup: #cad516 !default;
$envt: #e6332a !default;

// Other
$info-outline:    #1f994d;
$warning-outline: #99441f;

// Tables
$table-accent-bg:             rgba($black, .03) !default;

// Options
$enable-responsive-font-sizes: true !default;

// Fonts
// See fonts.css (as we cannot import them in the scss)
$font-size-base: 1rem !default;
$rfs-base-font-size: 1rem !default;
$headings-font-weight:   700 !default;

$font-family-sans-serif:        "WorkSans", sans-serif !default;
$font-family-button:            "Montserrat", sans-serif !default;

$headings-font-family:        "Montserrat", sans-serif !default;
$headings-font-weight:        600 !default;
$headings-line-height:        1.1 !default;

// Buttons

$input-btn-padding-x:         1rem !default;
$button-font-weight:          600 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-color:                rgba($black, 0.6) !default;
$navbar-light-hover-color:          rgba($black, .9) !default;
$nav-highlight-font-weight:         600 !default;
// Navdrawer
$drawer-width: 285px !default;
$drawer-width-semi-expanded: 106px !default;

// Pagination

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary !default;
$pagination-hover-border-color:     $primary !default;

$card-group-margin: .25rem;

// Toasts
$toast-color:                       $white !default;
$toast-background-color:            rgba($gray-900, .95) !default;
$toast-header-color:                $gray-100 !default;
$toast-header-background-color:     rgba($white, .1) !default;

// Navigation ===================================================================

$drawer-toggle-width: 50px;
$navbar-height: 95px;

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-border-color: $gray-500 !default;

$course-content-maxwidth: 1120px !default;
$medium-content-maxwidth: 1120px !default;
$h5p-content-maxwidth: 960px !default;

.btn,
button {
    font-family: $font-family-button;
    font-weight: $button-font-weight;
}

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
        primary: $primary,
        secondary: $secondary,
        success: $success,
        info: $info,
        warning: $warning,
        danger: $danger,
), $theme-colors);

$drawer-height: 140px !default;
$moremenu-height: 42px;
$enable-shadows: true;

$activity-icon-colors: () !default;
$activity-icon-colors: map-merge(
    (
        "administration": #5d63f6,
        "assessment": #eb66a2,
        "collaboration": #f7634d,
        "communication": $primary,
        "content": #399be2,
        "interface": #a378ff
    ),
    $activity-icon-colors
);
